*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #ccceda;
}

.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: 100vh;
  
}

.header {
  color: #193540;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #193540;
  font-size: calc(20px + 2vmin);
  margin: 3 0 0 0;
}

.tagline{
  margin: 0 3 0 0;
  font-size: calc(5px + 2vmin);
}

.input { 
  margin: 3 0 0 0;
  border:#193540 1px solid;
  height: 35px;
  background-color: #ffffff;
}
.btn{
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 35px;
  color: #0d0d0e;
  font-weight: bold;
  filter: drop-shadow(1px 1px 1px #193540);
}
.add-btn {
  background-color: #eb6c5D;
  border-color:#eb6c5D;
  margin-left: 5px;
}

.choose-btn{
  background-color: #4fb3e4;
  border-color:#4fb3e4;
  margin-top: 20px;
}
.restart-btn{
  background-color: #4fb3e4;
  border-color:#4fb3e4;
  margin: 20px;
}

main{
  overflow: hidden;
}

footer{
  height: 50px;
}

.list-container{
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* border:red solid; */
  text-align: center;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}


.list-item{
  border:#f8cf5d 2px solid;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 1px #193540);
  background-color: #ffffff; 
	text-align: left;  
  width: 250px;
  height: 2em;
  line-height: 2em;
  list-style: none;
  margin: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
  word-break: break-all ;
}
.answer-parent{
  width: 100vw;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;

}
.box{
  display: flex;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  
}
.box1{
  border:#193540 5px solid;
  background-color: #eb6c5D;
  height: 500px;
  width: 500px;
}

.box2{
  border: #193540 5px solid;
  background-color:#4fb3e4;
  height: 400px;
  width: 400px;
}

.box3{
  border: #193540 3px solid;
  background-color:#ffffff;
  height: 300px;
  width: 300px;
}
.selected-item{
  border: #193540 3px solid;
  text-align: center;
  background-color:#f8cf5d;
  height: 230px;
  width: 230px;
  color: #193540;
  font-size: 50px;
  flex-wrap: wrap;
  word-break: break-all ;

}


@media screen and (max-width: 500px) {

  .App {
    height: 100vh;
  }

.header {
  flex: 0 0 auto;
  
}
main{
  flex: 1 1 auto;
  overflow:auto;

}
.list-container{

}

footer{
  flex: 0 0  auto;
}
.list-item{
  text-align: center;
}
}
